[submodule "include/ImGui"]
	path = include/ImGui
	url = https://github.com/ocornut/imgui
[submodule "include/spdlog"]
	path = include/spdlog
	url = https://github.com/gabime/spdlog
[submodule "include/json"]
	path = include/json
	url = https://github.com/nlohmann/json
[submodule "include/HTTPRequest"]
	path = include/HTTPRequest
	url = https://github.com/elnormous/HTTPRequest