name: C/C++ CI

on:
  push:
    branches: [ main ]

  workflow_dispatch:
    inputs:
      reason:
        description: 'A reason to trigger this workflow.'
        required: true
        default: 'Re-run workflow.'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2
      
      - name: Setup premake
        uses: abel0b/setup-premake@v2.4
        with:
          version: "5.0.0-beta8"
        
      - name: Compile it
        shell: cmd
        run: | 
           premake5 vs2022
           msbuild ngrok-helper/ngrok-helper.vcxproj -p:Platform=Win32;Configuration=Release
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ngrok-helper
          path: bin/Release/ngrok-helper.exe

